.body{
    background-color: #040507;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
}

.main-content{
    display: flex;
    flex-flow: row nowrap; 
}

.suggest-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    border: 1px solid #3d444d;
    border-radius: 6px; 
    color: #f0f6fc;
    background-color: #151b23;
    padding: 5px 12px;
    font-size: 12px;
    height: 15px;
    max-width: 150px;
}

.input:focus, .upper-menu__input:focus{
    outline: 2px solid #3086ff;
    border: 1px solid #3086ff;
}

.suggest-text{
    color:#f0f6fc;
    font-size: 25px;
}

.get-info-button{
    border-radius: 6px;
    border: 1.5px solid #3d444d;
    background-color: #212830;
    color: #f0f6fc;
    padding: 3px 8px;
    flex-shrink: 0;
}

.finding-repos-div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px; 
    min-width:  180px;
    background-color: #151b23;
    border-right: 2px solid #212830;
    padding-left: 10px;
    gap: 10px;
}

.input-and-button-container{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.other{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    padding-bottom: 40%;
}

.owners-and-repos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.owners-container, .repos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-owners-text, .top-repos-text{
    color: #f0f6fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0px;
}

.top-owners, .top-repos{
    display: flex;
    flex-direction: column;
    gap: 3px;    
    margin-left: 15px;
}

.owner-link, .repo-link{
    display: flex;
    text-decoration: none;
    color: #f0f6fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    align-self: center;
    flex-grow: 1;
}

.owner-profile-icon:hover, .repo-icon:hover{
    background-color: #292a2b;
    padding-left: 8px;
    border-radius: 8px;
}

.owner-profile-icon, .repo-icon{
    flex-direction: row;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 15px;
    padding-left: 5px;
    border-left: 2px solid #3c3d3e;
}

.owner-profile-avatar, .repo-owner-profile-avatar{
    border-radius: 50%;
    width: 30px;
}

.upper-menu{
    position: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 12px;
    height: 80px;
    padding: 0px 15px;
    border-bottom: 2px solid #3d444d;
}

.burger-menu{
    outline: 1px solid #3f4144;
    border-radius: 15%;
    width: 40px;
    height: 40px;
    padding: 0px;
    padding-inline: 0px;
    padding-block: 0px;
    background-image: url(burger-icon.png);
    background-size: 100% 100%;
}

.upper-menu__github-icon{
    border-radius: 50%;
    width: 45px;
}

.upper-menu__input{
    justify-self: end;
    margin-left: 48%;
    height: 17px;
    width: 25%;
    min-width: 350px;
    border: 1px solid #3d444d;
    border-radius: 6px; 
    color: #f0f6fc;
    background-color: #151b23;
    padding: 5px 12px;
    font-size: 12px;
}

.upper-menu__just-button1{
    outline: 1px solid #3d444d;
    border-radius: 50%;
    height: 35px;
    min-width: 35px;
    margin-left: 60px;
    background-image: url(button1.jpg); 
    background-size: 100% 100%;
}

.upper-menu__just-button2{
    outline: 1px solid #3d444d;
    border-radius: 50%;
    height: 35px;
    min-width: 35px;
    margin-left: 10px;
    background-image: url(button2.webp); 
    background-size: 100% 100%;
}

.theme-swap{
    background-size: 100% 100%;
    height: 40px;
    min-width: 40px;
    border: 2px solid #f0f6fc;
    margin-left: 20px;
}

.repos-list{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin: 20px 0;
}

.not-found-message{
    margin-top: 10%;
    color: white;
    flex-grow: 1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.repo-info__heading{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: baseline;
    gap: 15px;
    color: #f0f6fc;
    margin: 0;
}

.repo-info__lang-icon{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: none;
}

.acsess-type{
    justify-self: flex-end;
    margin-right: 5px;
    border-radius: 45%;
    border: 1px solid #3c3d3e;
    padding: 0px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #9198a1;
}

.repo-info__lang-name{
    color:#f0f6fc;
    font-size: 14px;
}

.three-repos-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    gap: 20px;
    width: 100%;
    margin: 0 20px;
}

.repo-info-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    border: 1px solid #3c3d3e;
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 310px;
    width: 25%;
}

.lang-icon-and-name{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.heading-name{
    margin: 0;
    text-decoration: none;
    color: #4493f8;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.creation-time{
    font-size: 12px;
    color: #f0f6fc;
}

.updation-time{
    font-size: 12px;
    color: #f0f6fc;
}
