.images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    margin: 0 10% 0 10%;

}

.heading{
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    color:#002B6B;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.small-heading{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #002B6B;
}

.images-container_image{
    width: 160px;
    height: 200px;
    border-radius: 15%;
}

.upper-small-links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 35px;
    flex-basis: 100%;
    padding-right: 10%;
    gap: 0 15px;
}

.upper-small-link{
    text-decoration: none;
}

.upper-links{
    display: flex;
    flex-direction: row;
}

.upper-links__infotech-link{
    width: 135px;
    height: 35px;
    border: none;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 0 15% 0 15%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 120px;
    border-width: 2px;
    background-color: rgb(240, 236, 236);
    border-color: rgba(188, 235, 255, 0.877);
    border-radius: 15%;
    padding: 0 5% 0 5%;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover{
    background-color: rgb(206, 239, 251);
}

.card__image{
    align-self: center;
    justify-self: flex-start;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}