@import url("../../fonts/fonts.css");

*{
    box-sizing: border-box;
}

:root{
  --distance-between-photo-and-login-form: 7svw;
  --input-bg-color: #f0ebebf1;
  --input-text-color: #9d9595f1;
  --suggest-text-color: #141517; 
}

body{
    margin: 0;
}

.main-content{
    height: 100svh;
    width: 100svw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--distance-between-photo-and-login-form);
}

.head-block{
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
}

.head-block__picture{
    min-width: 270px;
    width: 50%;
}

.head-block__page-content-text{
    position: absolute;
    left: 44%;
    top : -20%;
    z-index: 10;
    text-align: start;
    font-family: Golos UI, sans-serif;
    font-size: 5lvw;
    font-weight: 700;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
}

.data-block{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

input:not([type = "submit"]){
    background-color: var(--input-bg-color);
    border: 1px;
    border-radius: 10px;
    height: 44px;
    width: 343px;
    padding: 12px 13px;
}

input:not([type = "submit"]):active{
   outline: 1px solid rgba(63, 138, 224, 1);
}

.input-suggest-text{
    font-family: Golos UI, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--suggest-text-color);

}

.email-container{
    display: flex;
    flex-direction: column; 
    align-items: baseline;
}

.email-container__suggest-text{
    font-family: Golos UI;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.email-container__format-example{
    font-family: Golos UI;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: rgba(128, 128, 128, 1);
}

.password-container{
    position: relative;
}

.password-container__suggest-text{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Golos UI;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}
    
[class ^= "password-container__eye-icon"]{  /*стилизация вне зависимости от состояния*/
    position: absolute;
    height: 24px;
    width: 24px;
    left: 306px;
    top: 32px;
    cursor: pointer;
}

@keyframes button-animation {
    from{
        background-color: black;     
    }    
    to{
        background-color: blueviolet;
    }
}

.submit-btn:hover{
    animation: button-animation;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.submit-btn{
    background-color: black;
    color: white;
    height: 35px;
    width: 343px;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
}

/*.warning-text-emoji{
    vertical-align: middle;
    margin-right: 6px;
}

.warning-label-container{
    order: -1;
    padding: 12px;
    border-radius: 10px;
    width: 343px;
    background-color: rgba(255, 236, 236, 1);
}

.warning-text{
    color: rgba(116, 0, 0, 1);
    font-family: Golos UI, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}*/