.grid-container{
    display: grid;
    grid-template: 
        [height-start] 100px [header-end] 50px [main-content-start] 1fr [height-end]
        [sidebar-start] 50px [sidebar-end] 1fr [main-content-start] 500px [main-content-end] 1fr [width-end];
    grid-template-areas: 
        "sidebar   header    header      header"
        "sidebar      .        .           ."
        "sidebar      .    main-content    .";   
    place-items: stretch;

}

.sidebar{
    grid-area: sidebar;
    align-self: start;
}

.header{
    grid-area: header;
    align-self: center;
}

.main-content{
    grid-area: main-content;
}