.body, .post{
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
}

.body{
    align-items: center;
}


.hat{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.user-photo{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.user-name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.edit-post-button{
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-image: url(cat.webp);
    background-size: 20px 20px;
    margin-left: 90%;
}

.post-img{
    margin-bottom: 10px;
}

.like-button{
    height: 20px;
    width: 20px;
    color: #e7505a;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.post-date{
    color: #9d9595f1;
}